<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Магазин{% endblock %}</title>
</head>

<body>
    <nav>
        <a href="/">Главная</a>
        <a href="/about">О компании</a>
        <a href="/add">Добавить</a>
        <a href="/my_items">Мои объявления</a>

        {% if current_user.is_authenticated %}
        <span>Привет, {{ current_user.username }}!</span>
        <a href="/logout">Выйти</a>
        {% else %}
        <a href="/register">Регистрация</a>
        <a href="/login">Войти</a>
        {% endif %}
    </nav>
    {% block content %}{% endblock %}
</body>

</html>