<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Магазин{% endblock %}</title>
</head>

<body>
    <nav>
        <a href="{{ url_for('items.home') }}">Главная</a>
        <a href="{{ url_for('items.about') }}">О компании</a>
        <a href="{{ url_for('items.add_item') }}">Добавить</a>
        <a href="{{ url_for('items.my_items') }}">Мои объявления</a>

        {% if current_user.is_authenticated %}
        Привет, <a href="{{ url_for('auth.profile') }}">{{ current_user.username }}</a>!
        <a href="{{ url_for('auth.logout') }}">Выйти</a>
        {% else %}
        <a href="{{ url_for('auth.register') }}">Регистрация</a>
        <a href="{{ url_for('auth.login') }}">Войти</a>
        {% endif %}
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <p style="padding: 8px; border: 1px solid #ccc;
                {% if category == 'success' %}background: #d4edda;
                {% elif category == 'danger' %}background: #f8d7da;
                {% else %}background: #fff3cd;{% endif %}">
        {{ message }}
    </p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>

</html>