{% extends "base.html" %}
{% block title %}Редактировать{% endblock %}
{% block content %}
<h1>Редактировать карточку товара</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name() }}
        {% for error in form.name.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.price.label }}<br>
        {{ form.price() }}
        {% for error in form.price.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.size.label }}<br>
        {{ form.size() }}
        {% for error in form.size.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>
<a href="{{ url_for('items.item_page', item_id=item.id ) }}">Отмена</a>
{% endblock %}