{% extends "base.html" %}
{% block title %}Карточка товара{% endblock %}
{% block content %}
<h1>{{ item.name }}</h1>
<p>Цена: {{ item.price }} ₽</p>
<p>Размер: {{ item.size }}</p>
<p>Владелец: {{ item.owner.username}}</p>
{% if current_user.is_authenticated and current_user.id == item.user_id %}
<form method="POST" action="{{ url_for('items.delete_item', item_id=item.id) }}">
    <button type="submit">Удалить</button>
</form>
<a href="{{ url_for('items.edit_item', item_id=item.id) }}">Редактировать</a>
{% endif %}
<a href="{{ url_for('items.home') }}">Назад</a>
{% endblock %}